html{
    background-color: rgb(39, 0, 56);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    color: lightgray;
    border-top: 5pc solid #242424;
    border-radius: 15px;
    background-color: #242424;
    text-align: center;
}

h1{
    font-size: 5em;
    margin: 0;
    text-shadow: 1px 1px 2px black, 0 0 1em darkslateblue, 0 0 0.2em darkslateblue;
}

h2{
    font-size: 32px;
    margin: 2;
}

.menu{
    width: 100%;
    text-align: center;
}

.menu li{
    display: inline;
    text-align: left;
    font-size: 30px;
    font-style: thin;
    color: lightgrey;
    margin: 3em;
}

li{
    display: block;
    text-align: left;
    border-top: 1px #ccc;
    border-bottom: 1px  #ccc;
    border-left: 1px  #ccc;
    border-right: 1px  #ccc;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.work01{
    flex: 25%;
    max-width: 100%;
    padding: 0 4px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.work02{
    flex: 25%;
    max-width: 100%;
    padding: 0 4px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.work03{
    flex: 25%;
    max-width: 100%;
    padding: 0 4px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.work04{
    flex: 25%;
    max-width: 100%;
    padding: 0 4px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.work05{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.work01 img{
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    width: 100%;
}

.work01 img:hover{
    transform: scale(1.5);
    border-radius: 15px;
    box-shadow: 0 3px 10px lightslategray;
    align-self: center;
}

.work02 img{
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    width: 100%;
}

.work02 img:hover{
    transform: scale(1.5);
    border-radius: 15px;
    box-shadow: 0 3px 10px lightslategray;
    align-self: center;
}

.work03 img{
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    width: 100%;
}

.work03 img:hover{
    transform: scale(1.5);
    border-radius: 15px;
    box-shadow: 0 3px 10px lightslategray;
    align-self: center;
}

.work04 img{
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    height: 500px;
    width: 300px;
}

.work04 img:hover{
    transform: scale(1.5);
    border-radius: 15px;
    box-shadow: 0 3px 10px lightslategray;
    align-self: center;
}

.work05 img{
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    width: 50%;
}

.work05 img:hover{
    transform: scale(1.5);
    border-radius: 15px;
    box-shadow: 0 3px 10px lightslategray;
    align-self: center;
}

img{
    border-radius: 15px;
    width: 300px;
}

.icon img{
    width: 50px;
}

.icon img:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.artstation img{
    width: 100px;
}

.artstation img:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.blog img{
    width: 400px;
}

.blog img:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.adriana img{
    box-shadow: darkorchid 0 5px 10px;
    width: 200px;
    border-radius: 50%;
}

.bio{
    border-bottom: #c2c2c2 solid;
    border-top: #c2c2c2 solid;
}

.pixelplanters img{
    width: 100px;
}

.pixelplanters img:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.iceplanet img{
    width: 200px;
}

.iceplanet img:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.fruitbasket img{
    width: 200px;
}

.fruitbasket img:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

@media screen and (max-width: 800px) {
    .work01{
        flex: 50%;
        max-width: 50%;
    }

}

@media screen and (max-width: 800px) {
    .work01{
        flex: 100%;
        max-width: 100%;
    }
    
}


